<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.airline.dao.FlightRecordMapper">
  <resultMap id="BaseResultMap" type="com.airline.bean.FlightRecord">
    <id column="fligthRecord" jdbcType="INTEGER" property="fligthrecord" />
    <result column="flightId" jdbcType="INTEGER" property="flightid" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="date" jdbcType="DATE" property="date" />
    <result column="description" jdbcType="VARCHAR" property="description" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    fligthRecord, flightId, status, date, description
  </sql>
  <select id="selectByExample" parameterType="com.airline.bean.FlightRecordExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from flightrecord
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from flightrecord
    where fligthRecord = #{fligthrecord,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from flightrecord
    where fligthRecord = #{fligthrecord,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.airline.bean.FlightRecordExample">
    delete from flightrecord
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.airline.bean.FlightRecord">
    insert into flightrecord (fligthRecord, flightId, status, 
      date, description)
    values (#{fligthrecord,jdbcType=INTEGER}, #{flightid,jdbcType=INTEGER}, #{status,jdbcType=VARCHAR}, 
      #{date,jdbcType=DATE}, #{description,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.airline.bean.FlightRecord">
    insert into flightrecord
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fligthrecord != null">
        fligthRecord,
      </if>
      <if test="flightid != null">
        flightId,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="date != null">
        date,
      </if>
      <if test="description != null">
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fligthrecord != null">
        #{fligthrecord,jdbcType=INTEGER},
      </if>
      <if test="flightid != null">
        #{flightid,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="date != null">
        #{date,jdbcType=DATE},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.airline.bean.FlightRecordExample" resultType="java.lang.Long">
    select count(*) from flightrecord
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update flightrecord
    <set>
      <if test="record.fligthrecord != null">
        fligthRecord = #{record.fligthrecord,jdbcType=INTEGER},
      </if>
      <if test="record.flightid != null">
        flightId = #{record.flightid,jdbcType=INTEGER},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.date != null">
        date = #{record.date,jdbcType=DATE},
      </if>
      <if test="record.description != null">
        description = #{record.description,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update flightrecord
    set fligthRecord = #{record.fligthrecord,jdbcType=INTEGER},
      flightId = #{record.flightid,jdbcType=INTEGER},
      status = #{record.status,jdbcType=VARCHAR},
      date = #{record.date,jdbcType=DATE},
      description = #{record.description,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.airline.bean.FlightRecord">
    update flightrecord
    <set>
      <if test="flightid != null">
        flightId = #{flightid,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="date != null">
        date = #{date,jdbcType=DATE},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
    </set>
    where fligthRecord = #{fligthrecord,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.airline.bean.FlightRecord">
    update flightrecord
    set flightId = #{flightid,jdbcType=INTEGER},
      status = #{status,jdbcType=VARCHAR},
      date = #{date,jdbcType=DATE},
      description = #{description,jdbcType=VARCHAR}
    where fligthRecord = #{fligthrecord,jdbcType=INTEGER}
  </update>
</mapper>