<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.airline.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.airline.bean.User">
    <id column="userId" jdbcType="INTEGER" property="userid" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="role" jdbcType="INTEGER" property="role" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="loginAttempts" jdbcType="INTEGER" property="loginattempts" />
    <result column="activated" jdbcType="BIT" property="activated" />
    <result column="locked" jdbcType="BIT" property="locked" />
    <result column="lastLogin" jdbcType="TIMESTAMP" property="lastlogin" />
    <result column="subscribed" jdbcType="BIT" property="subscribed" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    userId, password, role, email, loginAttempts, activated, locked, lastLogin, subscribed
  </sql>
  <select id="selectByExample" parameterType="com.airline.bean.UserExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where userId = #{userid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user
    where userId = #{userid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.airline.bean.UserExample">
    delete from user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.airline.bean.User" useGeneratedKeys="true" keyColumn="userid" keyProperty="userid">
    insert into user (userId, password, role,
      email, loginAttempts, activated,
      locked, lastLogin, subscribed
      )
    values (#{userid,jdbcType=INTEGER}, #{password,jdbcType=VARCHAR}, #{role,jdbcType=INTEGER},
      #{email,jdbcType=VARCHAR}, #{loginattempts,jdbcType=INTEGER}, #{activated,jdbcType=BIT},
      #{locked,jdbcType=BIT}, NOW(), #{subscribed,jdbcType=BIT}
      )
    <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="userid">
      SELECT LAST_INSERT_ID() AS userid
    </selectKey>
  </insert>
  <insert id="insertSelective" parameterType="com.airline.bean.User">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userid != null">
        userId,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="role != null">
        role,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="loginattempts != null">
        loginAttempts,
      </if>
      <if test="activated != null">
        activated,
      </if>
      <if test="locked != null">
        locked,
      </if>
      <if test="lastlogin != null">
        lastLogin,
      </if>
      <if test="subscribed != null">
        subscribed,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="role != null">
        #{role,jdbcType=INTEGER},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="loginattempts != null">
        #{loginattempts,jdbcType=INTEGER},
      </if>
      <if test="activated != null">
        #{activated,jdbcType=BIT},
      </if>
      <if test="locked != null">
        #{locked,jdbcType=BIT},
      </if>
      <if test="lastlogin != null">
        #{lastlogin,jdbcType=TIMESTAMP},
      </if>
      <if test="subscribed != null">
        #{subscribed,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.airline.bean.UserExample" resultType="java.lang.Long">
    select count(*) from user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update user
    <set>
      <if test="record.userid != null">
        userId = #{record.userid,jdbcType=INTEGER},
      </if>
      <if test="record.password != null">
        password = #{record.password,jdbcType=VARCHAR},
      </if>
      <if test="record.role != null">
        role = #{record.role,jdbcType=INTEGER},
      </if>
      <if test="record.email != null">
        email = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.loginattempts != null">
        loginAttempts = #{record.loginattempts,jdbcType=INTEGER},
      </if>
      <if test="record.activated != null">
        activated = #{record.activated,jdbcType=BIT},
      </if>
      <if test="record.locked != null">
        locked = #{record.locked,jdbcType=BIT},
      </if>
      <if test="record.lastlogin != null">
        lastLogin = #{record.lastlogin,jdbcType=TIMESTAMP},
      </if>
      <if test="record.subscribed != null">
        subscribed = #{record.subscribed,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update user
    set userId = #{record.userid,jdbcType=INTEGER},
      password = #{record.password,jdbcType=VARCHAR},
      role = #{record.role,jdbcType=INTEGER},
      email = #{record.email,jdbcType=VARCHAR},
      loginAttempts = #{record.loginattempts,jdbcType=INTEGER},
      activated = #{record.activated,jdbcType=BIT},
      locked = #{record.locked,jdbcType=BIT},
      lastLogin = #{record.lastlogin,jdbcType=TIMESTAMP},
      subscribed = #{record.subscribed,jdbcType=BIT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.airline.bean.User">
    update user
    <set>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="role != null">
        role = #{role,jdbcType=INTEGER},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="loginattempts != null">
        loginAttempts = #{loginattempts,jdbcType=INTEGER},
      </if>
      <if test="activated != null">
        activated = #{activated,jdbcType=BIT},
      </if>
      <if test="locked != null">
        locked = #{locked,jdbcType=BIT},
      </if>
      <if test="lastlogin != null">
        lastLogin = #{lastlogin,jdbcType=TIMESTAMP},
      </if>
      <if test="subscribed != null">
        subscribed = #{subscribed,jdbcType=BIT},
      </if>
    </set>
    where userId = #{userid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.airline.bean.User">
    update user
    set password = #{password,jdbcType=VARCHAR},
      role = #{role,jdbcType=INTEGER},
      email = #{email,jdbcType=VARCHAR},
      loginAttempts = #{loginattempts,jdbcType=INTEGER},
      activated = #{activated,jdbcType=BIT},
      locked = #{locked,jdbcType=BIT},
      lastLogin = #{lastlogin,jdbcType=TIMESTAMP},
      subscribed = #{subscribed,jdbcType=BIT}
    where userId = #{userid,jdbcType=INTEGER}
  </update>
</mapper>